# Dependências para o Agente rodar no Colab
requests==2.31.0
fastapi
uvicorn
pyngrok
pydantic

# Módulo de Engenharia Reversa (RE) & DSP/MIDI
pefile
capstone
lief
construct
kaitai-struct
mido
pretty_midi
python-rtmidi
frida-tools
flare-capa
